* {
    margin: 0;
    padding: 0;
}

#input-section {
    width: 100%;
    /*
    padding: 20px 30px; 
    padding-top: ;
    padding-bottom: ;
    */
}

#text-area {
    border-radius: 5px;
    background-color: #fbc531;
    color: #000000;
}